@import 'tailwindcss';

@layer base {
  h1 {
    @apply text-2xl lg:text-5xl font-bold;
  }
  h2 {
    @apply text-xl lg:text-4xl font-semibold;
  }
  h3 {
    @apply text-lg lg:text-3xl font-medium;
  }
}

:root {
  --background: #f0f0f3;
  --foreground: #ffffff;
}

body {
  width: 260px;
  background: var(--foreground);
  font-family: serif;
}
